/* Add CSS styling here */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
  /*put a border around everything to see where it stops and starts*/
   /border:1px solid grey; 
}
/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height: 1.5;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:#FFFAFA;
}
h1, h2, h3, h4{
    letter-spacing: 3px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size:2rem;
}
section{
    padding: 2% 0;
}
a{
    text-decoration:none;
    letter-spacing:3px;
    color:#4F4F4F;
    font-family: 'PT Sans', sans-serif;
}
a:hover{
    color:#1f2bd1;
}
i{
    font-size: 5rem;
}

/*header section styles*/
header nav{
    position: fixed;
    width: 100%;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #4F4F4F;
    height: 5vh;
}
.name{
    width: 30%;
}
.name h1{
    font-size: 2rem;
    color: white;
    text-align: left;
    margin-left: 5%
}
.links{
    width: 65%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.links a{
    color: white;
}
/*Top Section Style*/
#top{
    height:50vh;
    background-image: url("../assets/ments-surf.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top:5%;
    width:100%;
}
.titles{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1%;
}
.titles h3{
    font-size: 1.75rem;
}

.titles a{
    display: flex;
    justify-content: center;
}
.titles button {
    color:rgba(255, 255, 255, 0.411);
    background-color: rgb(32, 32, 32);
    font-size: 1.75rem;
    padding: 2% 4%;
    margin: 1%;
    border-radius: 15%;
}

section.about-me{
    border: black solid .5rem;
    margin: 5%;
    padding:1% 1%;
    width: 90%;
}
.about-me p{
    text-align: center;
}
.middle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.middle div{
    width: 30%;
    height: 25vh;
    margin: 1% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle div .hide{
    width: 70%;
    height: 10vh;
    display: none;
}
.middle div .hide h4{
    font-size: 4rem;
    color: #FFFAFA;
}
.middle div:hover .hide{
    display: block;
}

.img1 {
    background-image: url("../assets/baja.jpeg");
}
.img2 {
    background-image: url("../assets/fam.jpeg");
}
.img3 {
    background-image: url("../assets/fish.jpeg");
}
.img4 {
    background-image: url("../assets/kids.jpeg");
}
.img5 {
    background-image: url("../assets/mentscrew.jpeg");
}
.img6 {
    background-image: url("../assets/northshore.jpeg");
}

/*footer section style*/

footer{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10%;
}
footer div{
    background-color: black;
    border-radius: 50% 50%;
    padding: 1% 1%;
}
